.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml
*.log
android/.gradle/
android/local.properties
android/key.properties
android/app/*.jks
ios/
macos/
linux/
windows/
web/
